#head {
    text-align: center;
    font-size: 70px;
    height: 70px
}

#message {
    text-align: center;
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 400px;
}

#cir1 {
    background-color: rgb(76, 116, 247);
    border-radius: 50%;
    width: 300px;
    height: 300px;
    position: relative;
    left: 180px;
}

#cir2 {
    background-color: rgb(77, 165, 96);
    border-radius: 50%;
    width: 300px;
    height: 300px;
    position: relative;
    left: 210px
}

#cir3 {
    background-color: rgb(230, 97, 97);
    border-radius: 50%;
    width: 300px;
    height: 300px;
    position: relative;
    top: 300px;
    right: 90px;
}

#cir4 {
    background-color: rgb(243, 243, 106);
    border-radius: 50%;
    width: 300px;
    height: 300px;
    position: relative;
    left: 190px;
}

#scoreBoard {
    border: solid black;
    border-radius: 50%;
    float: right;
    width: 150px;
    text-align: center;
    height: 60px;
    position: relative;
    right: 365px;
    bottom: 340px
}

#startDiv {
    position: relative;
    left: 490px
}

.hidden {
    display: none;
}

@media only screen and (min-width: 1224px) {
    #head {
        text-align: center;
        font-size: 70px;
        height: 70px
    }

    #message {
        text-align: center;
    }

    #div {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 400px;
    }

    #cir1 {
        background-color: rgb(76, 116, 247);
        border-radius: 50%;
        width: 300px;
        height: 300px;
        position: relative;
        left: 180px;
    }

    #cir2 {
        background-color: rgb(77, 165, 96);
        border-radius: 50%;
        width: 300px;
        height: 300px;
        position: relative;
        left: 210px
    }

    #cir3 {
        background-color: rgb(230, 97, 97);
        border-radius: 50%;
        width: 300px;
        height: 300px;
        position: relative;
        top: 300px;
        right: 90px;
    }

    #cir4 {
        background-color: rgb(243, 243, 106);
        border-radius: 50%;
        width: 300px;
        height: 300px;
        position: relative;
        left: 190px;
    }

    #scoreBoard {
        border: solid black;
        border-radius: 50%;
        float: right;
        width: 150px;
        text-align: center;
        height: 60px;
        position: relative;
        right: 365px;
        bottom: 340px
    }

    #startDiv {
        position: relative;
        left: 490px
    }

    .hidden {
        display: none;
    }
}